body {
    font-family: Arial, sans-serif;
    background-color: #CFC4C4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #524F4a;
    font-family: Montserrat;
}

 h1 {
    font-size: 65px;
    color: white;
    font-family:Castoro Titling, sans-serif
 }

 h2 {
    font-size: 25px;
    font-family:Castoro Titling, sans-serif
 }

nav {
    background-color: #CFC4C4;
    text-align: right;
}

nav::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff; 
    margin-top: 10px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 20px 50px;
    text-decoration: none;
    color: #524F4a;
    font-size: 20px
}

nav ul li a:hover {
    color: #fff; 
}

.hamburger {
    padding: 50px 40px;
}

.hamburger {
    position: fixed; 
    top: 20px;
    right: 20px; 
    padding: 20px;
    z-index: 100; 
}

.bar1,
.bar2,
.bar3{
    background-color: white;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

.navbar .hamburger{
  display: none;
}

.navbar .hamburger:hover{
    cursor: pointer;  
}

.mobileNav{
    width: 80px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -160px;
    padding: 16px;
    transition: transform 0.3s;
}

.openDrawer {
    transform: translateX(-160px);
}

.mobileNav a{
    text-decoration: none;
    color:#524F4a;
    margin: 16px 0;
}

.mobileNav a:hover{
    text-decoration: underline;
}

.findme {
    display: grid;
    justify-content: center;
    grid-gap: 25px;
    grid-template-columns: repeat(6, auto);
    border: none;
}

.findme img {
    height: 30px;
}

.findme img,
.findme > div {
    border: none !important; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 50px); 
    overflow: hidden;
    flex-direction: row; 
    padding-top: 150px; 
}

.container img {
    margin: 0;
    border: 5px solid white;
    border-radius: 0px; 
}

.text {
    margin-right: 20px;
}


/* Language settings - Czech vs English */

.language-switch {
    display: flex;
    justify-content: flex-end; 
    margin: 20px 20px 0 0; 
  }
  
  .language-switch button {
    background-color: transparent;
    color: #333; 
    border: 1px solid #fff; 
    border-radius: 30px;
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 14px; 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .language-switch button:hover {
    background-color: #f0f0f0;
    border-color: #ddd; 
  }
  
  .language-switch button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .language-switch button.selected {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-color: #fff;
  }


/* Responsive web design */


@media screen and (max-height: 696px){
    .container {
        height: auto !important;
    }

    h1 {
        font-size: 50px !important;
    }

    .container > img {
        max-height: 50vh !important; /* Ensure the image height is responsive */
        max-width: 50vw !important;  /* Ensure the image width is responsive */
        height: auto;                /* Maintain aspect ratio */
        width: auto;                 /* Maintain aspect ratio */
    }
}

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 45px;
        text-align: center;  
     }

     h2 {
        font-size: 20px;
        text-align: center;  
     }

     p{
        text-align: center;  
     }

    .container {
        overflow: visible;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .text {
        margin-bottom: 20px;
    }

    .findme {
        grid-gap: 1px;
        grid-template-columns: repeat(2, auto);
        border: none;
        margin-top: 0px;
    }

    .findme img {
        height: 40px;
    }

    img[src='./github.svg'],
    img[src='./linkedin.svg'] {
        padding-right: 20px;
    }
    
    .container img {
        max-width: 40%;
    }
    
}


@media only screen and (max-width: 768px){
    .language-switch {
        display: none; 
    }

        .mobileNav .language-switch {
        display: grid;
    }

    
    .navbar {
        display: none; 
    }
    
    .navbar .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
      }   
}

.animateBar1 {
    animation: flipBar1 0.5s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 0.5s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 0.5s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }

    from {
        transform: rotate(45deg) translate(4px, 10px);
    }
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }

    from {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }

    from {
        transform: rotate(-45deg) translate(4px, -10px);
    }
}

@media only screen and (min-width: 769px) {
    .hamburger {
        display: none; 
    }
    
    .mobileNav {
        display: flex; 
    }
}



@media only screen and (max-width: 400px){
    .findme img {
        display: none;
    }

    h1 {
        font-size: 35px;
     }

    h2 {
        font-size: 18px;

     }

    p{
        font-size: 12.5px; 
     }

}
